<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=0.47">

  <link rel="icon" type="image/png" href="/zarowka.png" />
  <link rel="apple-touch-icon" href="/zarowka.png" />


  <meta name="author" content="Marek" />
  <title>Marek's idea of the day</title>


  <style>
<%include file="reset.css"/>
<%include file="style.scss"/>    
  </style>
</head><body>


<header id="title">
  <h1><a href="/">
      Marek's
      <div class="not-insane">not totally insane</div>
      idea of the day
  </a></h1>
</header>

${self.body()}

<footer>
  <div>
    <span id="footer-left">
      <a href="https://twitter.com/majek04">
        Catch me on <span>Twitter</span>
      </a>
    </span>
    <%block name="footerright">
    <span id="footer-right">
      <a href="/">More Articles &#8594;</a>
    </span>
    </%block>
  </div>
</footer>


<script>
<%include file="reconnect.js"/>
<%include file="google-analytics.js"/>
</script>

</body></html>
