<%inherit file="base.html"/>

<article>

<%block filter="filters.markdown">

% if shorttitle:
${shorttitle}
% else:
${title}
% endif
====================================

% if subtitle:
<div class="subtitle"><h2>${subtitle}</h2></div>
% endif

<div class="date">${date.strftime('%d %B %Y')}</div>

</%block>

${next.body()}


% if title:
<div>
  <span>&nbsp;</span>
  <span style="float:right">
    <a href="mailto:comment@popcount.org?subject=${'Idea of the day: ' + title | u}">
      Leave a comment
    </a>
  </span>
</div>
% endif

</article>
