/* style.css */
<%block filter="filters.sass">

$main-width: 625px;
$typesize: 18px;
$lead: 10px;
$leading: $typesize + $lead;

$margin-width: 120px;

$debug: 0;

$footerheight: 6 * $leading;
$roundness: 2px;

/* Footer magic via: http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ */
html, body {
    height: 100%;
}

#content {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -$footerheight;
} /* content */

.footerpush, footer {
    height: $footerheight;
}


body {
    color: #444;
    font-size: $typesize;
    line-height: $leading;
    font-family: 'Lucida Grande', Arial, sans-serif;
    /* font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif; */

    background-color: #FAF4ED;
    @if $debug == 1 {
        background: url('/' + $leading + '_grid_bg.gif') 0 0;
    }
    min-width: $main-width + 40px;
    text-rendering: optimizeLegibility;
}

#title {
    text-align: center;
    /* font-family: Futura */
    font-weight: bold;

    color: #000;

    height: $leading * 8;

    h1 {
        padding: 36px 0;
        font-size: 45px;
        line-height: 45px;
    }
    .not-insane {
        font-size: 30px;
        color: #808080;
    }

    /* Title shall be an _invisible_ link. */
    a {
        &:link, &:visited, &:active {
            color: black;
            text-decoration: none;
        }
    }
}

@mixin box {
    min-width: $main-width;
    max-width: $main-width;
    @if $debug == 1 {
        border: 1px dashed black;
        border-width: 0 1px;
    }
    margin-left: auto;
    margin-right: auto;
}

@mixin topbox {
    @if $debug == 1 {
        border: 0;
    }
    width: 100%;
    /* don't set min-width */
    max-width: $main-width + $margin-width * 2;
    margin-left: auto;
    margin-right: auto;
}

@mixin hr {
    height: 1px;
    border-width: 0px;
    color: #888;
    background-color: #888;
    margin-bottom: $leading - 1px;
    @include topbox;
}

@mixin roundcorners($params) {
    -webkit-border-radius: $params;
    -moz-border-radius: $params;
    border-radius: $params;
}

article > *, header {
    @include box;
}

:link {
    color: #00E;
    text-decoration: none;
}

:visited  {
    color: #551A8B;
}

a:hover {
    text-decoration: underline;
}

article {

    h1, h2, h3, h4 {
        color: #222;
        margin-bottom: $leading;
    }

    p, ul, ol, dl, img, pre, dd {
        margin-bottom: $leading;
    }

    p + ul, p + ol, p + pre {
        /* margin-top: -$leading / 2; */
        /* margin-bottom: $leading / 2; */
    }

    div.h1wrapper {
        /* Stripe */
        @include topbox;
        background-color: #BBB;
        @include roundcorners($roundness);

        h1 {
            @include box;
        }
    }

    h1 {
        padding: $leading/2 0;
        font-size: $typesize*2 + 7;
        line-height: $leading*3;
    }

    h2 {
        font-size: $typesize*2;
        line-height: $leading*2;
    }

    h3 {
        font-size: $typesize*1.5;
        line-height: $leading*2;
    }

    .subtitle > h2 {
        /* weight of h3 */
        font-size: $typesize*1.5;
        line-height: $leading*2;
        text-align: right;
    }

    ul {
        list-style: outside disc;
    }
    ul > li {
        margin-left: 1.7em;
    }
    li > p:only-child {
        margin-bottom: 0;
    }

    ol {
        list-style: outside decimal;
    }
    ol > li {
        margin-left: 2.5em;
    }

    ol > li > ol {
        /* Number under number is stupid. */
        list-style-type: lower-alpha;
    }

    ol > li, ul > li {
        > ul, > ol {
            /* Nested enumerations need to be padded a bit. */
            margin-top: $leading / 2;
            margin-bottom: $leading / 2;
        }
    }


    code, pre {
        background-color: #DDD;
        font-family: monospace;
        /* Reducing line-height seems to work fine - ie: code block doesn't extend
           the line: http://stackoverflow.com/questions/8395652/monospaced-font-throwing-line-height-out */
        line-height: $leading - 2;
    }

    pre, pre > code {
        font-size: $typesize - 2;
        line-height: $leading;
        font-family: monospace;
        /* Safari mobile does font scaling by default.
           But chrome doesn't scale fonts on zooming if the value is
           set to none (always use percentages). See:
               https://developer.mozilla.org/en/CSS/text-size-adjust
        */
        -webkit-text-size-adjust: 90%;
    }

    pre {
        padding-left: 8px;
        max-width: $main-width - 8px;
        white-space: pre-wrap;      /* if possible - break nicely */
        /* We wanna break words */
        word-wrap: break-word;      /* Old */
        overflow-wrap: break-word;  /* New css */
    }

    hr {
        @include hr;
    }

    p:lang(en) {
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        /* text-align: justify; */
    }

    h1, h2, h3, h4 {
        font-weight: bolder;
        /* font-variant: small-caps; */
    }

    h5 {
        font-variant: small-caps;
    }

    .svgimage > * {
        margin-left: auto;
        margin-right: auto;
    }

    .image > img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
    .image > div {
        text-align: center;
        font-size: $typesize - 4;
    }

    abbr {
        font-weight: bolder;
    }

    dl {
        dt {
            font-weight: bolder;
        }
        dd {
            margin-left: 2.5em;
        }
    }

    sup {
        font-size: $typesize / 1.5;
        margin-left: 2px;
        line-height: 1px;
        vertical-align: super;
    }

    div.footnote {
        @include topbox;

        font-size: $typesize / 1.2;

        > * {
            @include box;
        }

        hr {
            @include hr;
        }
    }

    div.toc {
        .toctitle {
            font-size: $typesize * 2;
            line-height: $leading * 2;
            font-weight: bolder;
            margin-bottom: $leading;
            display: block;
        }
        margin-bottom: $leading;
    }

    blockquote {
        border-left: 20px solid #222;

        padding-left: 30px;
        font-weight: bold;
    }

    table {
        border-collapse: collapse;
        border-style: hidden;
        max-width: $main-width;
        width: auto;

        td, th {
            border: 1px solid black;
            empty-cells: show;
        }
        td, th {
            padding-left: 8px;
            padding-right: 8px;
            font-size: $typesize - 2;
        }
        td {            /* one hor line for every row */
            line-height: $leading - 1;
        }
        th {            /* assuming one header - 0 hor lines*/
            font-weight: bold;
            line-height: $leading - 0;
        }
        margin-bottom: $leading;
    }

    div.date {
        font-size: $typesize - 2;
        padding-bottom: $leading;
        color: #666;
    }

    em {
        font-style: italic;
    }

    strong, b {
        font-weight: bolder;
    }

    margin-bottom: 2*$leading;

} /* article */


footer {
    @include topbox;
    background-color: #BBB;
    @include roundcorners($roundness $roundness 0 0);
    > div {
        @include box;
        padding-top: $leading;
        :link, :visited {
            margin-left: 2.5em;
            color: #555;
            font-size: $typesize - 3;
            font-weight: bolder;
        }
        a > span {
            text-decoration: underline;
        }
        #footer-left {
            float:left;
        }
        #footer-right {
            float:right;
        }
        /*
        .rss {
            display: block;
            width: 22px;
            height: 22px;
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWBAMAAAA2mnEIAAAAMFBMVEUAAADFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcVjt1ybAAAAD3RSTlMAv88wEIDvcCDfr1CPQGA0CXuaAAAAs0lEQVR4Xi3MMUrDAAAF0F9qqQULBSddIuie0kEcoydwcFNwcXOoN2g2R72Bbq49ikfwClaspCpPDPnbg/9/NC/TdEFz0QHWHbRYtrjag5+udV/iqMO4YFUl2b+sMpxzkITNa2baBd7rrZJlArc54yYp4K0/9/l/+cR3FtZVkgHrusddkhwzGfOYnKTPb0ofmTnMtU0WvlJYZUT1YBNMhyxHmqDe5rxH2wnPO+TUblKYDPgDdgR+e3u1SYQAAAAASUVORK5CYII=") no-repeat scroll left top;
            */
        }
    }
} /* footer */

/* Make sure there is no stupid whitespace after img */
img {
    display:block;
}


@media print {
    :link {
        color: #00E;
        text-decoration: underline;
    }

    p, ul, ol, dl {
        page-break-before: avoid;
    }

    img, pre {
        page-break-before: auto;
    }

    h1, h2, h3, h4, hr {
        page-break-before: auto;
        page-break-after: avoid;
    }

    body {
        color: #000;
    }

    footer {
        /* Don't waste paper on the footer */
        display: none;
    }
}


/* Alert box */
#alertbox {
    display: none;

    @include roundcorners(10px);
    position: fixed;
    top: 20%;
    width: 30%;
    left: 35%;
    background-color: #FF3300;

    div {
        margin: 10px;
    }
}

/* Pygments */
.hll { background-color: #ffffcc }
.c { color: #408080; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #008000; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #408080; font-style: italic } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.c1 { color: #408080; font-style: italic } /* Comment.Single */
.cs { color: #408080; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #808080 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.il { color: #666666 } /* Literal.Number.Integer.Long */

</%block>
